
.ImageBackground {
    --blur: 2rem;
    filter: blur(var(--blur));
    background-size: cover;
    background-position: center;
    /*background-size: calc(100% + var(--blur));*/
    position: absolute;
    top: calc(-1 * var(--blur));
    left: calc(-1 * var(--blur));
    width: calc(100% + 4 * var(--blur));
    height: calc(100% + 4 * var(--blur));
    background-image: url("https://static.newfuture.industra.space/assets/arts/a95fe630-bb90-4b63-8742-aa016da69a99/cover.jpg");

    margin: calc(-1 * var(--blur));
    z-index: 1;

    transition: background-image 1s;
}

.consentScreen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
}

.content {
    max-width: 400px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.content div {
    margin-top: 40px;
}

.button {
    display: block;
    color: white;
    background-color: var(--color-secondary);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    transition: background-color 0.1s;
    border: none;
    margin: auto;
}

.button:hover {
    color: white;
    background-color: var(--color-primary);
}

.perminfo {
    font-size: 0.75em;
}

.perminfo .icon {
    vertical-align: middle;
}
